desktop.ini
/DAM 2/DI (Desarrollo de Interfaces)/UT2/primeraInterfaz/nbproject/private/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/primeraInterfaz/build/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioBotones/nbproject/private/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioBotones/build/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioPractica3/nbproject/private/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioPractica3/build/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioEjemplo1/build/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioEjemplo1/nbproject/private/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioEjemplo2/build/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/ejercicioEjemplo2/nbproject/private/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/cambiarFondo/nbproject/private/
/DAM 2/DI (Desarrollo de Interfaces)/UT2/cambiarFondo/build/