/*ESTILOS DEL BODY*/
body{
    background-color: brown;
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}